.SignatureDetail {
    height: 70%;
    margin: 4vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.InfoGrid {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: auto auto;
}

.InfoGrid .Number {
    font-family: Rajdhani - sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    justify-self: start;
    align-self: end;

    grid-column: 1;
    grid-row: 1 / span 2;
}

.InfoGrid .Title {
    font-family: Rajdhani - sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
    justify-self: start;
    align-self: end;
    color: #989898;
    
    grid-column: 2;
    grid-row: 1;
}

.InfoGrid .KeyImage {
    font-family: Rajdhani - sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;

    justify-self: start;
    align-self: end;

    grid-column: 2;
    grid-row: 2;}

.Element {
    /* position: relative; */
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #C093D6;
}

.SignatureDetail table {
    margin-top: 4em;
    align-self: center;
}

.SignatureDetail thead {
    font-family: Rajdhani - sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    /* identical to box height */

    text-align: left;
    font-variant: small-caps;
}

.SignatureDetail tbody {
    font-family: Rajdhani - sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    text-align: left;
    text-transform: uppercase;
    color: #818181;

}

.SignatureDetail tr {
    height: 4vh;
}

.TableElement {
    padding-left: 50px;
    padding-right: 50px;
}

.TableContent {
    padding-left: 100px;
}