* {
    font-family: Rajdhani - sans-serif;
}

h1, h2 {
    font-variant: small-caps;
    display: inline;
}

h3, h4 {
    text-transform: uppercase;
    display: inline;
    color: #818181;
}

.Transaction {
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 20vh;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.TransactionInfo table {
    border-collapse: collapse;
}

.TableTitle thead {
    border-bottom: 3px solid rgba(83, 232, 169, 0.6);
}

.TransactionInfo td {
    vertical-align: bottom;
    min-width: 130px;
}

.TransactionInfo h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.TransactionInfo h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.TransactionInfo h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.TransactionInfo h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.Line {
    border: 13px solid rgba(83, 232, 169, 0.6);
}

.TransactionNode {    
    height: 135px;
    width: 135px;

    background-color: #C093D6;
    border: 6px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
}
