* {
    font-family: Rajdhani - sans-serif;
}

h1, h2, h3, h4 {
    font-variant: small-caps;
}

.TransactionInfo {
    position: absolute;
    left: calc(50% - 527px / 2);
    top: 55px;
}

.TransactionInfo td {
    vertical-align: bottom;
    min-width: 130px;
}


.TransactionInfo h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: inline;
    /* Put the headers closer together */
    margin: 0
}

.TransactionInfo h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    display: inline;
    /* Put the headers closer together */
    margin: 0;
}

.TransactionInfo h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 0px;
    display: inline;
    color: #818181;
}

.TransactionInfo h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: inline;
    color: #818181;
}