.Intra {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    
    position: absolute;
    top: calc(50% - 300px);
    width: 100%;
}

.OutputContainer {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-row-gap: 3vh;
    justify-items: center;
    align-content: center;
}

