.Search {
    height: 100%;
    width: 100%;

    display: flex;

    align-items: center;
    justify-content: center;
}

.SearchBar {
    width: 50%;
    font-size: 14px;

    /* background-color: seashell; */
    border: 2px solid rgba(83, 232, 169, 0.6);
    border-radius: 100px;
    padding: 1vh;
    margin: 2vh;
}

button {
    font-size: 14px;
    border-radius: 50px;
    background-color: rgba(83, 160, 232, 0.6);
    border-color:  rgba(83, 160, 232, 0.6);
    box-shadow: none;
    color: white;
    
}

.Line {
    margin: 0;
    border: 2px solid rgba(83, 232, 169, 0.6);
}