.TransactionNode {    
    height: 135px;
    width: 135px;

    background-color: #C093D6;
    border: 6px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;

    cursor: pointer;
}

.TransactionNode:hover {
    background-color: #b078cc;
}

.Intra {
    height: 135px;
    width: 135px;

    background-color:#888888;
    border: 6px solid #FFFFFF;
    border-radius: 20px;
    box-sizing: border-box;

    color: #FFFFFF;

    cursor: pointer;
}

.Intra:hover {
    background-color: #717171;
}