.InterInputItem {
    width: 2vh;
    height: 2vh;
    margin: -2% -2% -2% -2%;
    background-color: #C093D6;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.InterInputItem:hover {
    background-color: #b078cc;
}